{% import "button/src/button.njk" as Button %}
{% set icon %}{% include "./icons/IconoirChatBubbleEmpty.svg" %}{% endset %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>{{ title }}</title>
  </head>
  <body>
    {{ content | safe }}
    {{ Button.btn('Hello Rioters 🤘 !', classes='hi_button', icon=icon) }}
  </body>
  <script>
    document.querySelector('.hi_button').addEventListener('click', () => {
      alert("You've clicked the Welcome button");
    })
  </script>
</html>
